.logo {
  background-color: var(--color-bcg-header);
}
.logotip {
  width: 30%;
  margin: 0;
}
.logotip > img {
  width: 100%;
}
.header {
  text-align: center;
}
.nav {
  margin: 0;
  display: flex;
  color: var(--color-general);
}
.navigation {
  width: 50%;
}
.main-nav {
  display: flex;
}
.contact,
.main-nav-each {
  color: var(--color-general);
}
.spelling-by-letter-name {
  color: var(--color-general);
  text-align: center;
}
.spelling-by-letter {
  background-color: var(--color-bcg-sbl);
  min-height: 7rem;
}
