
.partners {
  text-align: center;
}
 .partners__item_lass img{
   background-color: #0000;
   width:20%;
 }
 .partners__item img {
   width:10%;
 }
 .partners__item_travel img{
  width:20%;
 }
 .partners__item_HCklaipeda img{
  width:10%;
 }
