* {
  box-sizing: border-box;
  margin:auto;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}
 body { 
   margin-top: 0.5rem;
    width: 90%;
    font-size: 1.7rem;
}
.logo {
   background-color: #86B3D2;
}
.logotip img{
  width:25%;
}
.spelling-by-letter {
   background-color: #484854;
   min-height: 7rem;
}
h1 {
  color: white;
}
h1, h2 {
  text-align: center;
  padding: 2rem;
}
.main {
  background-color: #938E94;
}
.slider {
   position: relative;
   overflow: hidden;
   margin: 1.5rem auto;
 }
 
 .js-slider__item {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 .js-slider__photo__item {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 500px;
    
 }
 
 a.control_prev, a.control_next {
   position: absolute;
   top: 50%;
   z-index: 999;
   display: block;
   padding: 16px;
   width: auto;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   opacity: 0.8;
   cursor: pointer;
 }
 
 a.control_next {
   right: 0;
 }
 .partners__item_lass img{
   background-color: black;
   width:20%;
 }
 .partners__item img {
   width:10%;
 }
 .partners__item_travel img{
  width:20%;
 }
 .partners__item_HCklaipeda img{
  width:10%;
 }
 .container-footer {
   background-color: #557A95;
   color: white;
 }
 .tel>a, .contact>a {
   color: white;
   text-decoration: none;
 }
