
.slider {
   position: relative;
   overflow: hidden;
   margin: 1.5rem auto;
 }
 
 .slider-items {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 .slider-item-photo {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 500px;
    
 }
 
 a.control_prev, a.control_next {
   position: absolute;
   top: 50%;
   z-index: 999;
   display: block;
   padding: 16px;
   width: auto;
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   opacity: 0.8;
   cursor: pointer;
 }
 
 a.control_next {
   right: 0;
 }

 