.form-contact {
  border: #86B3D2 solid 0.1rem;
}
.contact-us {
  padding: 1rem;
  margin: 3rem;
  
}
textarea {
  height: 18rem;
  width:100%;
}

.button-submit {
  text-align: center;
}
button {
  background-color: #86B3D2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

