<footer id="contacts">
   <div class="container-footer container">
      <div class="footer__item-contact">
         <p class="footer__item-contact-name">UAB Translimitas Kelyje</p>
         <p>Juridinis adresas: Saulės g. 7-1, Kalotės k., LT-92284 Klaipėdos r.</p>
         <p>Europos bendrijos licenzijos nr.: LIC-002710-EBKL</p>
      </div>
      <div class="footer__item">
         <p><a class="footer__item-phone-number" href="tel:+37068964250"><i class="fas fa-phone-alt"></i> :
               +37068964250</a>
         </p>
         <p><a class="footer__item-email" href="mailto:translimitaskelyje@gmail.com"><i class="fas fa-at"></i> :
            translimitaskelyje@gmail.com</a>
         </p>
      </div>
   </div>
   <div class="copyright">©<a href="https://translimitaskelyje.lt">Translimitas kelyje - autobusų nuoma Klaipėdoje</a>2023</div>
</footer>