<div class="section__galery container">
  <h2 class="section__galery-name">Mūsų autobusai</h2>
  <div class="section__galery-slider">
     <ul class="section__galery-slider-photos">
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20191214_150351.jpg" alt="bus on teh street front">
      </li>
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20200828_141827.jpg" alt="bus inside">
      </li>
        <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20210504_213456.jpg" alt="bus from left">
      </li>
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20210501_151716.jpg" alt="bus inside">
      </li>
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20160425_144828.jpg" alt="microbus mercedes">
      </li> 
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/salon.jpg" alt="microbus mercedes">
      </li>   
      <div class="section__galery-slider-photo-item-last">
         <li class="section__galery-slider-photo-last">
            <img class="section__galery-slider-photo-item" src="./img/20171117_110725.jpg" alt="bus from front">
         </li>
         <li class="section__galery-slider-photo-lastt">
            <img class="section__galery-slider-photo-item" src="./img/20171117_110942.jpg" alt="microbus mercedes inside">
         </li>  
      </div>    
     </ul>
  </div>
</div>
