<div class="section__galery">
  <h2 class="section__galery-name">Mūsų autobusai</h2>
  <div class="section__galery-slider">
     <ul class="section__galery-slider-photos">
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20210502_125808.jpg" alt="bus from right">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20171117_110725.jpg" alt="bus from front">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20210504_213456.jpg" alt="bus from left">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20171117_114006.jpg" alt="microbus mercedes from left">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20171117_110942.jpg" alt="microbus mercedes inside">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20160425_144828.jpg" alt="microbus mercedes">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20191214_150351.jpg" alt="bus on teh street front">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20200828_141827.jpg" alt="bus inside">
        </li>
        <li class="section__galery-slider-photo">
           <img class="section__galery-slider-photo-item" src="./img/20210501_151716.jpg" alt="bus inside">
        </li>
     </ul>
  </div>
</div>

<!-- <section class="section-gallery">
  <h2 class="visually-hidden">gallery</h2>
    <div class="container">
        <div class="imgs">
                        <picture>
                            <source
                              srcset="
                                ../src/images/par-deck-1x.png 1x,
                                ../src/images/par-deck-2x.png 2x
                              "
                              media="(min-width: 1200px)"
                            />
                            <source
                              srcset="
                              ../src/images/par-tab-1x.png  1x,
                              ../src/images/par-tab-2x.png  2x
                              "
                              media="(min-width: 768px)"
                            />
                            <source
                              srcset="
                                ../src/images/par-mob-1x.png 1x,
                                ../src/images/par-mob-2x.png 2x
                                "
                              media="(min-width: 320px)"
                            />
                            <img
                                class="image-mobile"
                                src="../src/images/par-mob-1x.png"
                                alt="Партфолио"
                            />
                          </picture>
        </div>
    </div>
</section>
 -->
