<div class="section__galery container">
  <h2 class="section__galery-name">Mūsų autobusai :</h2>
  <div class="section__galery-slider">
     <ul class="section__galery-slider-photos">
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/364016376.jpg" alt="microbus mercedes inside">
      </li> 
      <li class="section__galery-slider-photo-logo">
         <img class="section__galery-slider-photo-item" src="./img/354513716_logo.jpg" alt="bus on the street front">
      </li>
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20200828_141827.jpg" alt="bus from left">
      </li>    
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/364110269.jpg" alt="microbus mercedes inside">
      </li> 
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/356565326.jpg" alt="microbus mercedes inside">
      </li> 
        <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/20210504_213456.jpg" alt="bus from left">
      </li>
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/20210501_151716.jpg" alt="microbus mercedes inside">
      </li> 
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/363761586.jpg" alt="microbus mercedes">
      </li>     
      <li class="section__galery-slider-photo-lastt">
         <img class="section__galery-slider-photo-item" src="./img/364119423.jpg" alt="microbus mercedes inside">
      </li>
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/20171117_114006.jpg" alt="bus from front">
      </li> 
      <li class="section__galery-slider-photo-last">
         <img class="section__galery-slider-photo-item" src="./img/20171117_110942.jpg" alt="microbus mercedes inside">
      </li>   
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/356567719.jpg" alt="bus inside">
      </li>
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/363949018.jpg" alt="bus inside">
      </li>    
      <li class="section__galery-slider-photo">
         <img class="section__galery-slider-photo-item" src="./img/364100551.jpg" alt="microbus mercedes inside">
      </li> 
     </ul>
  </div>
</div>
