<header class="logo header ">
      <nav class="nav">
         <div class="navigation-flex">
            <a class="logotip" href="index.html">
               <img class="animate__animated animate__backInRight" src="img/Logo_TranslimitasKelyje.png" alt="Logo for Translimitas kelyje">
            </a>
            <div class="navigation"> 
               <ul class="main-nav">
                  <li><a class="main-nav-each" href="#apie">Apie Mus</a></li>
                  <li><a class="main-nav-each" href="#partneriai">Mūsų partneriai</a></li>
                  <li><a class="main-nav-each" href="#contacts">Kontaktai</a></li>
               </ul>
            </div>
         </div>
         <div class="nav__rezer">      
            <ul>
               <li class="rezer">Rezervuokite tel:<a class="contact" href="tel:+37068964250"> +37068964250</a></li>
               <li class="rezer">Rezervuokite el. paštu: <a class="contact" href="mailto:kornelijus534@gmail.com"> kornelijus534@gmail.com </a></li>
            </ul>
         </div> 
      </nav>
</header>

