<div class="our-partners container">
   <h2 id="partneriai" class="partners-header">Mūsų partneriai</h2>
   <div class="partners">
      <div class="partners-tablet">
         <a href="https://www.meja.lt/" base target="_blank">
            <img class="partners__item-meja"
               src="img\Klaipeda_meja_travel.png" alt="Logo for Klaipeda_meja_travel"></a>
         <a href="https://lass.lt/" base target="_blank">
            <img class="partners__item_lass" src="img\new_lass_logo.png"
               alt="Logo for Lass"></a>
      </div>
      <div class="partners-tablet-second">
         <a href="#" base target="_blank">
            <img class="partners__item-travel"
               src="img\krantas-travel-uab.png" alt="Logo for krantas-travel-uab"></a>
         <a href="https://hcklaipeda.lt/" base target="_blank">
            <img class="partners__item-HCklaipeda"
               src="img/HCKlaipeda.png" alt="Logo for HCKlaipeda"></a>
      </div>    
   </div>
</div>
