<section class="paslaugos">
         <h2 class="section__paslaugos-name">Mūsų paslaugos :</h2>
         <div class="section__paslaugos container">
            <ul class="section__paslaugos-items">
               <li class="section__paslaugos-item">&#9733; Minivenų nuoma be vairuotojo ir su vairuotojų;</li>
               <li class="section__paslaugos-item">&#9733; Turistinės ir Edukacinės kelionės;</li>
               <li class="section__paslaugos-item">&#9733; Keleivių pervežimas Lietuvoje ir Europoje;</li>
               <li class="section__paslaugos-item">&#9733; Svečių ir VIP keleivių pervežimai;</li>
            </ul>   
            <ul class="section__paslaugos-items-last">  
               <li class="section__paslaugos-item">&#9733; Verslo kelionės;</li>
               <li class="section__paslaugos-item">&#9733; Sportininkų , moksleivių ir studentų vežiojimas;</li>
               <li class="section__paslaugos-item">&#9733; Darbuotojų pervežimo paslaugos;</li>
            </ul>
         </div>
</section>
