.logotip {
  width: 20%;
  margin: 0;
}
.logotip > img {
  width: 100%;
}
.header {
  text-align: center;
}
.nav {
  display: flex;
  color: var(--color-general);
}
.navigation {
  width: 50%;
}
.main-nav {
  display: flex;
}
.main-nav-each {
  font-size: 1.9rem;
  color: var(--color-general);
  font-weight: bold;
}
.main-nav-each:hover,
.main-nav-each:focus {
  font-size: 2rem;
  border-bottom: 0.2rem solid var(--color-general);
}
.rezer {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--color-general);
}
.contact {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: var(--color-general);
}
.contact:hover,
.contact:focus {
  font-size: 1.8rem;
  border-bottom: 0.2rem solid var(--color-general);
}

.spelling-by-letter-name {
  font-family: "Raleway", sans-serif;
  color: var(--color-text-white);
  text-align: center;
  padding-top: 1.2rem;
}
.spelling-by-letter {
  background-color: var(--color-bcg-header);
  min-height: 7rem;
}
